body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: solid 1px red; */
}

header,
main,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #122121;
  color: #e5e7eb;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #122121;
  padding: 10px 150px;
  gap: 100px;
}

.logo {
  font-size: 36px;
  margin-left: 10px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.logo > .l1 {
  color: #fadfa4;
}

.logo > .l2 {
  color: #f24236;
}

.logo-img {
  width: 250px;
  height: auto;
}

.title-nav {
  display: flex;
  flex-shrink: 0;
}

.title-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title-nav li {
  display: flex;
  list-style-type: none;
}

.title-nav a {
  text-decoration: none;
  font-size: 24px;
  color: #fadfa4;
  padding: 5px;
}

.title-nav a:hover {
  background-color: #f24236;
}

.main-wrapper {
  display: flex;
  align-items: center;
  background-color: #2d5431;
  justify-content: space-between;
  gap: 100px;
  padding-left: 300px;
  padding-right: 300px;
}

.left-align {
  flex-basis: 100%;
  display: flex;
  align-items: stretch;
  max-width: 50%;
  min-width: 500px;
}

.headline-content {
  display: flex;
  flex-direction: column;
  justify-content: space;
  gap: 25px;
}

.headline {
  font-size: 48px;
  font-weight: bolder;
  color: #f24236;
}

.headline-content > p {
  font-size: 26px;
  color: #fadfa4;
  font-style: italic;
}

.headline-content > button {
  background-color: #122121;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  align-self: flex-start;
}

.headline-content > button:active {
  background-color: #000000;
}

.right-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 600px;
}

.headline-img {
  display: flex;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  max-height: 100%;
  min-width: 400px;
}

.secondary-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
}

.secondary-header {
  text-align: center;
  font-size: 36px;
  color: #f24236;
  text-decoration: underline;
}

.secondary-flex-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding-left: 300px;
  padding-right: 300px;
}

.flex-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 450px;
  gap: 20px;
  font-size: 24px;
}

.flex-display > img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border-width: 4px;
  border-color: #f24236;
}

.flex-display > p {
  font-weight: 700;
  color: #2d5431;
}

.flex-display > div > p {
  font-weight: 100;
  font-size: 20px;
  color: #122121;
}

.tertiary-container {
  max-width: 100%;
  background-color: #f24236;
  color: #fadfa4;
}
.tertiary-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-size: 34px;
  padding: 25px 150px;
}

.tertiary-wrapper > div > p {
  font-weight: 600;
  color: #000000;
}
