body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* All of the below is relating to the Header Content / Nav Bar / Logo. */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #1f2937;
  padding: 10px 150px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 25px;
  align-items: center;
  display: flex;
}

nav ul {
  display: flex;
  align-content: center;
  justify-content: center;
}

nav li,
nav a {
  list-style-type: none;
  gap: 50px;
  margin-right: 25px;
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* End of Header Content Wrapper CSS*/

/* Top Main content CSS */
.main-wrapper {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  justify-content: center;
  gap: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

/* All of the below is related to everything in the first subsection of the screen LHS. (Excluding header) */
.left-align {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 25px;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  gap: 10px;
}

.headline {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-top: 0px;
}

.headline-subtext p {
  font-size: 18px;
  color: #e5e7eb;
}

.headline-subtext button {
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  align-self: center;
  margin-top: 20px;
}

/* End of Main content upper LHS CSS*/

/* All of the below is related to everything in the Main wrapper right-align CSS (Im. (Excluding header) */
.right-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.headline-img {
  display: flex;
  max-width: 600px;
  height: auto;
}
/* End of Main wrapper right-align CSS*/
/* End of Main wrapper CSS*/

/* All of the below is related to everything in the footer of the page */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #e5e7eb;
  margin-top: auto;
}
/* End of Footer Content CSS*/
